/*****************/
/*Login popup box*/
/*****************/

#modal_trigger  {
    /*martin-top: 50%;*/
    /*margin-top: 23%;*/
    /*margin-left: 40%;*/
     /*width: 100px;*/
     /*display: block;*/
}

.login .btn  {
    margin-top: 30%;
    background:  #F4F4F2;
    font-weight: bold;
    color: #19331B;
    font-size: 2em;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

 /*Modal box or Popup box */
.popupContainer{
    position:absolute;
    width:330px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}


 /*Popup Styles*/
.popupHeader  {
    font-size: 16px;
     text-transform:  uppercase;
}

.popupHeader  {
    background: #F4F4F2;
     position: relative;
     padding: 10px 20px;
     border-bottom: 1px solid #DDD;
     font-weight: bold;
}

.popupHeader .modal_close  {
    position:  absolute;
     right:  0;
     top: 0;
     padding: 10px 15px;
     background: #E4E4E2;
     cursor:  pointer;
     color: #aaa;
     font-size: 16px;
}

.popupBody  {
    padding: 20px;
}

.popupBody .btn{
    padding-right: 5%;
    margin-top: 3%;
    margin-left: 17%;
    margin-bottom: 5%;
}

/*****************/
/*MAIN CONTAINER**/
/*****************/

h1{
    font-weight: bold;
    font-family: 'Ewert', cursive;
    font-size: 6em; /*how to make responsive?*/
    /*color: #23686C !important;*/
}

h3{
    font-weight:bold;
    color: #9f447e;
}

.step{
    /*border: 2px solid red;*/
    /*margin-top:10%;*/
    margin: 10% 4% 0 4%;
    padding: 5% 2.5% 5% 2.5%;
    background-color: rgba(89, 228, 235,0.75);
    border-radius: 10px;
}

#steps{
    height:50%;
    /*border: 2px solid black;*/
}

#home_page{
    height: 80%;
    /*border: 2px solid green;*/
    background-image:url('../img/pink_presents.png');
    /*background-size: cover;*/
    /*background-position: 30% 20%;*/
    background-position: right;
    background-repeat: no-repeat;

}

#login{
    /*border: 2px solid red;*/
    margin-top: 5%;
}

#login a{
    font-weight: bold;
}
/*colors:*/
/*color: #9f447e*/
/*color:#521B3E*/
/*color: #23686C*/
/*color: #59E4EB*/
/*color: #ACA05B*/