<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
        {% block script %}{% endblock script %}
    </head>
    <body>
        <nav>
{#            {% if not user.is_authenticated %}#}
{#                <a href="{% url 'social:complete' "google-plus" %}">Facebook Login</a>#}
{#            {% else %}#}
{#                Hi {{ user.username }}#}
{#            {% endif %}#}
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>