<div class="row">
    <a href="{{ product_to_rank.link }}"#><img src="{{ product_to_rank.image_url }}" width="200" height="200" class='giftToRank img-responsive' data-id="{{ product_to_rank.asin }}" alt="Responsive image"></a>
</div>
<div class="row">
    <h7>{{ product_to_rank.name }}</h7><span>|</span>
    <h7>{{ product_to_rank.price }}</h7>
</div>
<div class="row">
    <button type="button" class="ranking btn btn-default btn-sm" id="up">Like</button>
    <button type="button" class="ranking btn btn-default btn-sm" id="down">Dislike</button>
</div>